@{
    ViewBag.Title = "Home Page";
}



    <div class="row">
        <h1>Rhythm Spot</h1>
        
    </div>
    <div class="row">
        <h2>Spot where Rhythm never stops</h2>        
    </div>
