@model IEnumerable<MusicStreaming.Models.Release>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<div class="row">
    <div class="col-md-2">
        @using (Html.BeginForm("New", "Releases", FormMethod.Post))
        {
            <button type="submit" class="btn btn-primary">Add</button>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table id="releases" class="table  table-hover bg-white">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Release Name</th>
                    <th>Artist Name</th>
                    <th>Release Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var release in Model)
                {
                    <tr>
                        <td><img src="@Url.Content(release.ImageUrl)" width="100" height="100" /></td>
                        <td><a href="/Releases/Details/@release.ReleaseId">@release.Name</a></td>
                        <td><a href="/Artists/Details/@release.Artist.ArtistId">@release.Artist.Name</a></td>
                        <td>@release.CreatedAt</td>
                        <td><a href="Releases/Edit/@release.ReleaseId">Edit</a></td>
                        <td><a href="Releases/Delete/@release.ReleaseId">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $("#releases").DataTable();



    </script>

}